<!DOCTYPE html>
<html>
    <head lang="de">
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="/vendor/uikit/uikit/dist/css/uikit.min.css">
            <script src="/vendor/uikit/uikit/dist/js/uikit.min.js"></script>
            <script src="/vendor/uikit/uikit/dist/js/uikit-icons.min.js"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="robots" content="none">
            <link rel="icon" href="/wale.svg">
        {% endblock %}
    </head>
    <body>
        <div class="uk-section uk-section-xsmall uk-section-primary">
            <h1 class="uk-text-center"><span>{{ block('title') }}</span></h1>
        </div>
        <div class="uk-container uk-container-xsmall uk-margin-medium-top">
        {% block content %}{% endblock %}
        </div>
        <footer class="uk-section uk-section-xsmall uk-section-muted uk-margin-xlarge-top">
            <div class="uk-container uk-container-xsmall">
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand">{{ "now"|date("d.m.Y") }}</div>
                    <div>
                        <ul class="uk-iconnav">
                            <li><a href="/" uk-icon="icon: home"></a></li>
                            <li><a href="https://github.com/av-frisia/wahlsystem" uk-icon="icon: github"></a></li>
                            <li><a href="https://github.com/j0hax" uk-icon="icon: user"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
