{% extends "base.html" %}
{% block title %}Abstimmen{% endblock %}
{% block content %}
{% include('votename.html') %}

<!-- Our voting form -->
<form class="uk-form-stacked" action="vote.php?pin={{ votedata.pin }}" method="post">
  <div class="uk-margin">
    {% if votedata.type == "grade" %}
      <label class="uk-form-label" for="grade">Note</label>
      <div class="uk-form-controls">
        <select id="grade" class="uk-select" name="votedata">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    {% elseif votedata.type == "text" %}
      <textarea class="uk-textarea" name="votedata" placeholder="Stimme..." required></textarea>
    {% elseif votedata.type == "binary" %}
      <div class="uk-form-label">
        Entscheidung
      </div>
      <div class="uk-form-controls uk-form-controls-text">
      <label for="yes-vote">
        <input class="uk-radio" type="radio" id="yes-vote" name="votedata" value="1" checked> Stimme Dafür</label><br>
        <label for="no-vote">
        <input class="uk-radio" type="radio" id="no-vote" name="votedata" value="0"> Stimme Dagegen</label><br>
        <label for="abstention-vote">
        <input class="uk-radio" type="radio" id="abstention-vote" name="votedata" value="NULL"> Stimme Enthalten</label>
      </div>
    {% endif %}
  </div>
  <div class="uk-margin">
    <div class="uk-form-controls">
      <button type="submit" class="uk-button uk-button-primary uk-width-expand">Abgeben</button>
    </div>
  </div>
</form>
<p>
  Mit der Stimmabgabe bestätige ich mein Stimmrecht und sehe ein dass eine Abgabe permanent ist. Ich bin Einverstanden, dass jeder Wahlgang zwecks Bewertung 7 Tage <b>anonym</b> gespeichert wird, wonach er permanent gelöscht wird.
</p>
<p>
  Nach Abgabe der Stimme bin ich ebenfalls einverstanden, dass Conventsgeheimnis nach Art. 140 GO zu bewahren.
</p>
{% endblock %}